.book {
  max-width: 1200px;
  margin: 40px auto;
  text-align: center;
  background: #fff;
  padding: 40px;
  box-sizing: border-box;
}

.desc {
  padding-top: 5px;
  text-align: left;
  line-height: 1.5em;
}
